{% extends 'base.html' %}

{% block title %} Perfil {% endblock %}

{% block content %}
    <h1>Perfil de {{ user.username }}</h1>
    <p>Bienvenido, {{ user.first_name }} {{ user.last_name }}!</p>
    <p>Email: {{ user.email }}</p>
    <a href="{% url 'mantenimiento' %}" class="btn">Redactar Parte</a><br>
    <a href="{% url 'mis_partes_policiales' %}" class="btn">Ver mis partes policiales</a>
    <a href="{% url 'crear_orden_movilizacion' %}" class="btn">cREAR ORDEN DE MOVILIZACION</a><br>
    
{% endblock %}