{% extends 'base.html' %}

{% block title %} Perfil {% endblock %}

{% block content %}
    <h1>Perfil de {{ user.username }}</h1>
    <p>Bienvenido, {{ user.first_name }} {{ user.last_name }}!</p>
    <p>Email: {{ user.email }}</p>
    <a href="{% url 'parte_policial' %}" class="btn">Redactar Parte</a><br>
    <a href="{% url 'mis_partes_policiales' %}" class="btn">Ver mis partes policiales</a>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            text-align: center;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
    </style>
    
{% endblock %}