{% extends "admin/base_site.html" %}

{% block content %}
    <div class="form-container">
        <form method="post" id="combinedForm">
            {% csrf_token %}   
            <h1>Añadir Usuario</h1><br>                                             
            <table style="border-collapse: collapse; width: 100%;">
                <tr>
                    <td style="text-align: left; vertical-align: top;"><strong>Nombre de usuario:</strong></td>
                    <td style="vertical-align: top;">{{ combined_form.username }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;"><strong>Correo electrónico:</strong></td>
                    <td style="vertical-align: top;">{{ combined_form.email }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;"><strong>Constaseña:</strong></td>
                    <td style="vertical-align: top;">{{ combined_form.password }}{{ combined_form.password.help_text }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;"><strong>Confirmar constraseña:</strong></td>
                    <td style="vertical-align: top;">{{ combined_form.confirm_password }}{{ combined_form.confirm_password.help_text }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;"><strong>Nombres:</strong></td>
                    <td style="vertical-align: top;">{{ combined_form.first_name }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;"><strong>Apellidos:</strong></td>
                    <td style="vertical-align: top;">{{ combined_form.last_name }}</td>
                </tr>   
                <tr>
                    <td style="text-align: left; vertical-align: top;">{{ combined_form.direccion.label_tag }}</td>
                    <td style="vertical-align: top;">{{ combined_form.direccion }}</td>
                </tr>  
                <tr>
                    <td style="text-align: left; vertical-align: top;">{{ combined_form.fecha_de_nacimiento.label_tag }}</td>
                    <td style="vertical-align: top;">{{ combined_form.fecha_de_nacimiento }}</td>
                </tr>  
                <tr>
                    <td style="text-align: left; vertical-align: top;">{{ combined_form.genero.label_tag }}</td>
                    <td style="vertical-align: top;">{{ combined_form.genero }}</td>
                </tr> 
                <tr>
                    <td style="text-align: left; vertical-align: top;">{{ combined_form.identificacion.label_tag }}</td>
                    <td style="vertical-align: top;">{{ combined_form.identificacion }}{{ combined_form.identificacion.help_text }}</td>
                </tr> 
                <tr>
                    <td style="text-align: left; vertical-align: top;">{{ combined_form.rango.label_tag }}</td>
                    <td style="vertical-align: top;">{{ combined_form.rango }}</td>
                    {% if combined_form.identificacion.errors %}
                        <div class="errors">{{ combined_form.identificacion.errors }}</div>
                    {% endif %}
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;"><p>{{ combined_form.tipo_sangre.label_tag }}</td>
                    <td style="vertical-align: top;">{{ combined_form.tipo_sangre }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: top;"><p>{{ combined_form.rol.label_tag }}</td>
                    <td style="vertical-align: top;">{{ combined_form.rol }}</td>                    
                </tr>              
            </table>
            <div id="pTitular" style="display: none;">
                <label for="{{ combined_form.titular.id_for_label }}">{{ combined_form.titular.label }}</label>
                <input type="checkbox" name="{{ combined_form.titular.html_name }}" id="{{ combined_form.titular.id_for_label }}">
            </div>

            <div class="form-group">
                <label for="{{ combined_form.flota_vehicular.id_for_label }}">Flota Vehicular:</label>
                {{ combined_form.flota_vehicular }}
            </div>
            <div class="form-group">
                <label for="{{ combined_form.turno_inicio.id_for_label }}">Inicio de Turno:</label>
                {{ combined_form.turno_inicio }}
            </div>
            <div class="form-group">
                <label for="{{ combined_form.turno_fin.id_for_label }}">Fin de Turno:</label>
                {{ combined_form.turno_fin }}


            <div id="pSubcircuito" style="display: none;">
                <label for="{{ combined_form.subcircuito.id_for_label }}">{{ combined_form.subcircuito.label }}</label>
                <select name="{{ combined_form.subcircuito.html_name }}" id="{{ combined_form.subcircuito.id_for_label }}">
                    {% for subcircuito in combined_form.subcircuito.field.queryset %}
                        <option value="{{ subcircuito.pk }}">{{ subcircuito }}</option>
                    {% endfor %}
                </select>
            </div> 

            <input type="submit" value="Guardar" class="default">
            <button onclick="history.back()">Atrás</button>
        </form>
    </div>    
    <script>
        document.getElementById("id_rol").addEventListener("change", function() {
            var role = this.options[this.selectedIndex].text;
            var pTitular = document.getElementById("pTitular");
            var pSubcircuito = document.getElementById("pSubcircuito");
            if (role === "Encargados de logística") {
                pTitular.style.display = "block";
                pSubcircuito.style.display = "none";
            } else if (role === "Personal policial agentes") {
                pTitular.style.display = "none";
                pSubcircuito.style.display = "block";
            } else {
                pTitular.style.display = "none";
                pSubcircuito.style.display = "none";
            }
        });
    </script>
{% endblock %}

{% block extrascript %}
    
{% endblock %}