{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    <style>
    .field-tipo_mantenimiento, .field-tipo_de_combustible, .field-cantidad_galones, .field-cantidad_galones_detalle {
        display: none;
    }
    </style>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var updateForm = function() {
                var tipoOrden = $("#id_tipo_orden").val();
                if(tipoOrden === 'Mantenimiento') {
                    $(".field-tipo_mantenimiento").show();
                    $(".field-tipo_de_combustible, .field-cantidad_galones, .field-cantidad_galones_detalle").hide();
                } else if(tipoOrden === 'Combustible') {
                    $(".field-tipo_de_combustible, .field-cantidad_galones, .field-cantidad_galones_detalle").show();
                    $(".field-tipo_mantenimiento").hide();
                } else {
                    $(".field-tipo_mantenimiento, .field-tipo_de_combustible, .field-cantidad_galones, .field-cantidad_galones_detalle").hide();
                }
            };
            $("#id_tipo_orden").change(updateForm);
            updateForm();
        });
    </script>
{% endblock %}

{% block content %}
<div id="content-main">
    <form id="ordentrabajo_form" method="post">
        {% csrf_token %}
        {% for field in adminform.form %}
            {% if field.name == 'tecnico' or field.name == 'fecha' %}
                <div style="display: none;">
                    {{ field }}
                </div>
            {% else %}
                <div class="form-row field-{{ field.name }}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="submit-row">
            <input type="submit" value="Guardar" class="default">
            <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">{% trans "Cancelar" %}</a>
        </div>
    </form>
</div>
{% endblock %}
