{% extends "admin/base.html" %}

{% block content %}
  
  <form method="post">
    {% csrf_token %}
    <div class="table-responsive">
      <table class="table">
        <tr>
          <h2>Finalizar Orden de Mantenimiento</h2>
        </tr>
        <tr>
          <td>{{ form.observaciones.label_tag }}</td>
        </tr>
        <tr>
          <td>{{ form.observaciones }}</td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="{% url 'admin:home_ordenmantenimiento_changelist' %}" class="btn btn-danger">Cancelar</a>
          </td>
        </tr>
      </table>
    </div>
  </form>
{% endblock %}
