{% extends "pdf_templates/base_ordendetrabajo_pdf.html" %}

{% block content %}
{% if image_path %}
<img src="{{ image_path }}" alt="Logo" width="100">
{% endif %}
    <h1>Orden de Trabajo Finalizada</h1>
    
    <h3>Fecha de Solicitud:</h3> {{ parte_policial.fecha_solicitud }}
    <h3>Fecha de Registro:</h3> {{ orden_mantenimiento.fecha }}
    <h3>Fecha de Entrega: </h3>{{ orden_mantenimiento.fecha_de_entrega }}

    <h3>Personal Policial que entregó el vehículo:</h3> {{ nombre_completo }}
    <h3>Personal Policial que retira el vehículo: </h3>{{ nombre_completo }}

    <h3>Kilometraje Actual: {{ kilometraje_actual }}Km</h3>
    <h3>Kilometraje de Próximo Mantenimiento: {{ kilometraje_proxima_revision }}Km</h3>
    <li>Tipo de Vehículo: {{ tipo_vehiculo }}</li>
    <h3>Tipos de Mantenimiento Realizado:</h3>
    <ul>
        {% for item in descripcion_general %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h3>Resumen de Costos:</h3>
    <table>
        <tr>
            <td>SUBTOTAL</td>
            <td>{{ subtotal_general }}</td>
        </tr>
        <tr>
            <td>IVA (12%)</td>
            <td>{{ iva }}</td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>{{ total }}</td>
        </tr>
    </table>

    <h4>Observaciones: </h4>{{ orden_mantenimiento.observaciones }}<br>
    <h4>Firma de Responsabilidad: ________________________</h4>
{% endblock %}


