
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Mis Partes Policiales</h1>
<!-- Filtro de búsqueda -->
<form method="get" action="">
    Fecha: <input type="date" name="fecha" />
    Tipo de Parte: 
    <select name="tipo_parte">
        <option value="">--Selecciona--</option>
        <option value="Mantenimiento Preventivo">Mantenimiento Preventivo</option>
        <option value="Mantenimiento Correctivo">Mantenimiento Correctivo</option>
        <!-- ... -->
    </select>
    Estado:
    <select name="estado">
        <option value="">--Selecciona--</option>
        <option value="En Proceso">En Proceso</option>
        <option value="Completado">Completado</option>
        <option value="Rechazado">Rechazado</option>
    </select>
    <input type="submit" value="Filtrar" />
</form>
<!-- Fin del Filtro de búsqueda -->
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo de Parte</th>
            <th>Observaciones</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for parte in partes_policiales %}
            <tr>
                <td>{{ parte.fecha }}</td>
                <td>{{ parte.tipo_parte }}</td>
                <td>{{ parte.observaciones|safe }}</td>
                <td class="estado-{{ parte.estado|lower }}">{{ parte.estado }}</td>
                <td><a href="{% url 'parte_policial_pdf' parte.id %}">Descargar PDF</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if partes_policiales.has_previous %}
            <a href="?page=1">&laquo; Primero</a>
            <a href="?page={{ partes_policiales.previous_page_number }}">Anterior</a>
        {% endif %}
        
        <span class="current">
            Page {{ partes_policiales.number }} of {{ partes_policiales.paginator.num_pages }}.
        </span>
        
        {% if partes_policiales.has_next %}
            <a href="?page={{ partes_policiales.next_page_number }}">Siguiente</a>
            <a href="?page={{ partes_policiales.paginator.num_pages }}">Ultimo &raquo;</a>
        {% endif %}
    </span>
</div>

<a href="{% url 'mantenimiento' %}" class="btn">Registrar nuevo parte policial</a><br>
{% endblock %}

{% block extrastyle %}
<style>    
    table{
        width: 100%;
        border-collapse: collapse;
    }

    th, td  {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: #FF8C00; /* Color de texto naranja */
        text-shadow: 2px 2px 4px #000000; /* Sombra en negro */
    }
    h1, form {
        padding: 8px;
        text-align: left;
        
        color: #FF8C00; /* Color de texto naranja */
        text-shadow: 2px 2px 4px #000000; /* Sombra en negro */
    }
    .estado-rechazado {
        background-color: red;
        color: white;
        text-shadow: 2px 2px 4px #000000; /* Sombra en negro */
    }

    .estado-en proceso {
        background-color: yellow;
        color: black;
    }

    .estado-completado {
        background-color: green;
        color: white;
        text-shadow: 2px 2px 4px #000000; /* Sombra en negro */
    }

    .pagination {
        margin: 10px 0;
    }

    .pagination .step-links {
        display: inline-block;
        padding: 0;
    }

    .pagination .step-links a, .pagination .step-links span {
        color: #FF8C00; /* Color de texto naranja */
        text-shadow: 2px 2px 4px #000000; /* Sombra en negro */
        padding: 5px;
        text-decoration: none;
        border: 1px solid #ddd;
        margin-right: 5px;
    }

    .pagination .step-links .current {
        background-color: #FF8C00; /* Color de fondo naranja */
        color: white;
        border: none;
        text-shadow: 2px 2px 4px #000000; /* Sombra en negro */
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
        text-align: center;
        border: none;
        background-color: #4CAF50; /* Color de fondo verde */
        color: white;
        text-shadow: 2px 2px 4px #000000; /* Sombra en negro */
        cursor: pointer;
    }
</style>

{% endblock %}