
{% extends 'base.html' %}

{% block content %}
    <h1>Mis Partes Policiales</h1>
    <ul>
        {% for parte in partes_policiales %}
            <li>
                Fecha: {{ parte.fecha }},
                Tipo de Parte: {{ parte.tipo_parte }},
                Observaciones: {{ parte.observaciones }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'parte_policial' %}"class="btn">Registrar nuevo parte policial</a><br>
    <a href="{% url 'mis_partes_policiales' %}" class="btn">Ver mis partes policiales</a>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            text-align: center;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
    </style>
{% endblock %}
