{% extends "base.html" %}

{% block content %}
  <h2>Registro de Parte Policial</h2>
  <h3>{{ form.non_field_errors }}</h3>
  <p>Fecha: {{ fecha }}</p> 
  <p>Nombre: {{ request.user.first_name }} {{ request.user.last_name }}</p>
  <p>Vehículo asignado (Placa): 
    {% if vehiculo != '-Sin datos, contacte a logística-' %}
        {{ vehiculo.placa }}
    {% else %}
        {{ vehiculo }}
    {% endif %}
  </p>
  <p>Chasis: 
    {% if vehiculo != '-Sin datos, contacte a logística-' %}
        {{ vehiculo.chasis }}
    {% else %}
        {{ vehiculo }}
    {% endif %}
  </p>
  <p>Subcircuito: {{ subcircuito }}</p>
  <form method="post">
    {% csrf_token %}
    
    <p>{{ form.tipo_parte.label }}: {{ form.tipo_parte }}</p>
    <p>{{ form.observaciones.label }}: <br> 
        <textarea id="{{ form.observaciones.auto_id }}" name="{{ form.observaciones.html_name }}" style="width: 100%; height: 210px;">{{ form.observaciones.value|default_if_none:'' }}</textarea>
        </p>
    <p>{{ form.fecha_solicitud.label }}: {{ form.fecha_solicitud }}</p>
    <p>{{ form.kilometraje_actual.label }}: {{ form.kilometraje_actual }}</p>
    {{ form.estado }}  <!-- este campo está oculto -->
    <button type="submit" class="btn btn-primary">Registrar</button>
    <a href="{% url 'profile' %}" class="btn">Cancelar</a>  
  </form>
{% endblock %}