
{% extends 'base.html' %}

{% block content %}
<h1>{% if status == 'success' %}Guardado exitosamente{% else %}Error al guardar el parte{% endif %}</h1>
<a href="{% url 'mis_partes_policiales' %}"><button>Ver mis partes policiales</button></a>

    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            text-align: center;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
    </style>
{% endblock %}

