<!-- admin/templates/admin/reporte_quejas_sugerencias.html -->
{% extends "admin/base_site.html" %}
{% block content %}
<style>
  .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .row .half {
      flex: 0.5;
  }
  table {
      border-collapse: collapse;
      width: 100%;
  }
  th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
  }

  /* Estilo del botón */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 01px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Contenedor del menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Contenido del menú desplegable (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links dentro del menú desplegable */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambiar el color de los links al pasar el ratón */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Mostrar el menú desplegable al pasar el ratón */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Cambiar el fondo del botón al pasar el ratón */
.dropdown:hover .dropbtn {
  background-color: #2980B9;
}
</style>

<h2>Reporte de Quejas y Sugerencias</h2><br>

<div class="row">
  <div class="half filters">
      {% if es_pdf %}
          Fecha inicio: {{ fecha_inicio }}<br>
          Fecha fin: {{ fecha_fin }}<br>
      {% else %}
          <form method="get">
              Fecha inicio: <input type="date" name="fecha_inicio" value="{{ fecha_inicio }}"><br>
              Fecha fin: <input type="date" name="fecha_fin" value="{{ fecha_fin }}"><br>
              <input type="submit" value="Filtrar"><br>
              <button onclick="history.back()">Atrás</button><br>
          </form>
      {% endif %}
  </div>

  <div class="half">
      <p>Reporte solicitado por: {{ usuario }}</p>
      <p>Fecha de inicio: {{ fecha_inicio }}</p>
      <p>Fecha final: {{ fecha_fin }}</p>
      {% if not es_pdf %}
      <div class="dropdown">
        <button class="dropbtn">Exportar...</button>
        <div class="dropdown-content">
          <a href="{% url 'reporte_quejas_sugerencias_export' %}?formato=pdf&fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}">Exportar como PDF</a>
          <a href="{% url 'reporte_quejas_sugerencias_export' %}?formato=xls&fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}">Exportar como XLS</a>
          <a href="{% url 'reporte_quejas_sugerencias_export' %}?formato=xml&fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}">Exportar como XML</a>
          <a href="{% url 'reporte_quejas_sugerencias_export' %}?formato=csv&fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}">Exportar como CSV</a>
          <a href="{% url 'reporte_quejas_sugerencias_export' %}?formato=jpeg&fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}">Exportar como JPEG</a>
          <a href="{% url 'reporte_quejas_sugerencias_export' %}?formato=png&fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}">Exportar como PNG</a>
        </div>
      </div>

      {% endif %}
  </div>
</div>

<table>
  <tr>
      <th>Tipo</th>
      <th>Circuito</th>
      <th>Subcircuito</th>
      <th>Número de reportes</th>
  </tr>
  {% for queja_sugerencia in quejas_sugerencias %}
      <tr>
          <td>{{ queja_sugerencia.tipo }}</td>
          <td>{{ queja_sugerencia.circuito__nombre_Circuito }}</td>
          <td>{{ queja_sugerencia.subcircuito__nombre_subcircuito }}</td>
          <td>{{ queja_sugerencia.total }}</td>
      </tr>
  {% endfor %}
</table>



{% endblock %}
