<!-- admin/templates/admin/reporte_quejas_sugerencias.html -->
{% extends "admin/base_site.html" %}
{% block content %}
<style>
  .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .row .half {
      flex: 0.5;
  }
  table {
      border-collapse: collapse;
      width: 100%;
  }
  th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
  }
</style>

<h2>Reporte de Quejas y Sugerencias</h2><br>

<div class="row">
  <div class="half filters">
      {% if es_pdf %}
          Fecha inicio: {{ fecha_inicio }}<br>
          Fecha fin: {{ fecha_fin }}<br>
      {% else %}
          <form method="get">
              Fecha inicio: <input type="date" name="fecha_inicio" value="{{ fecha_inicio }}"><br>
              Fecha fin: <input type="date" name="fecha_fin" value="{{ fecha_fin }}"><br>
              <input type="submit" value="Filtrar"><br>
              <button onclick="history.back()">Atrás</button><br>
          </form>
      {% endif %}
  </div>

  <div class="half">
      <p>Reporte solicitado por: {{ usuario }}</p>
      <p>Fecha de inicio: {{ fecha_inicio }}</p>
      <p>Fecha final: {{ fecha_fin }}</p>
      {% if not es_pdf %}
          <a href="{% url 'reporte_quejas_sugerencias_pdf' %}?fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}">Exportar a PDF</a>
      {% endif %}
  </div>
</div>

<table>
  <tr>
      <th>Tipo</th>
      <th>Circuito</th>
      <th>Subcircuito</th>
      <th>Número de reportes</th>
  </tr>
  {% for queja_sugerencia in quejas_sugerencias %}
      <tr>
          <td>{{ queja_sugerencia.tipo }}</td>
          <td>{{ queja_sugerencia.circuito__nombre_Circuito }}</td>
          <td>{{ queja_sugerencia.subcircuito__nombre_subcircuito }}</td>
          <td>{{ queja_sugerencia.total }}</td>
      </tr>
  {% endfor %}
</table>

{% endblock %}
