{# templates/admin/asignar_subcircuito.html #}

{% extends "admin/base_site.html" %}

{% block content %}
<form method="post" action="{% url 'admin:asignar-subcircuito-per-pol' %}">
    {% csrf_token %}
    <label for="subcircuito">Subcircuito:</label>
    <select name="subcircuito" id="subcircuito">
        {% for subcircuito in subcircuitos %}
            <option value="{{ subcircuito.id }}">{{ subcircuito.nombre_subcircuito }}</option>
        {% endfor %}
    </select>
    {% for personalpolicial in personalpoliciales %}
        <input type="hidden" name="personalpoliciales" value="{{ personalpolicial }}">
    {% endfor %}
    <input type="submit" value="Asignar">
</form>
{% endblock %}